.btn-9 {
  $btn-color: random-color($max:200);
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);
  
  &:before,
  &:after,
  span:before,
  span:after {
    content: '';
    @include absolute(0,null,null,0);
    @include size(100%, 0);
    background-color: rgba($btn-color-dark, 0.25);
    transition: 0.4s ease-in-out;
  }
  
  &:after,
  span:before {
    top: auto;
    bottom: 0;
  }
  
  span:before,
  span:after {
    transition-delay: 0.4s;
  }
  
  &:hover {
    color: tint($btn-color, 75%);
    
    &:before,
    &:after,
    span:before,
    span:after {
      height: $btn-height;
    }
  }
  
  &:active {
    background-color: $btn-color;
  }
}